/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Jaro:opsz@6..72&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
@import url("root.css");

#gamesList {
  margin-top: 25px;
}

.game-entry {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--white-container);
  padding: var(--game-entry-padding-y) 25px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.game-entry:hover {
  background-color: #fff;
  transform: translateY(-3px);
}

.game-entry .game-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.game-entry .game-details .entry-date {
  color: var(--grey-666);
}

.player-details {
  display: flex;
  justify-content: space-between; /* Ensure space between players */
  align-items: center; /* Align items vertically centered */
  width: 100%;
}

.player-left {
  text-align: left; /* Align player left text to the left */
  clear: both;
}

.player-right {
  text-align: right; /* Align player right text to the right */
  clear: both;
}

.game-result {
  position: absolute;
  width: 50%;
  transform: translate(50%, 0);
  bottom: var(--game-entry-padding-y);
  font-weight: bold;
  font-size: 1.1em;
  color: var(--deep-blue);
  white-space: nowrap; /* Prevent line breaks */
  text-align: center; /* Center the result text */
}

.game-entry .player-left a,
.game-entry .player-right a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--deep-blue);
  transition: color 0.3s ease;
}

.game-entry .title {
  display: inline-block;
  padding: 0 4px;
  background-color: var(--red);
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
}

.game-entry .player-rating {
  font-weight: 600;
  font-family: "Geist Mono", monospace;
}

.delete-game-btn {
  position: absolute;
  left: 100%;
  transform: translate(-45%, 37.5%);
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  opacity: 0; /* Initially hidden */
  padding: 5px;
  transition: background-color, color, transform 0.1s;
  background-color: var(--white-container);
  color: var(--deep-blue);
  font-size: 1.25em;
  border-radius: 50%;
}

.game-entry:hover .delete-game-btn {
  opacity: 1; /* Visible on hover */
  transform: translate(-50%, 37.5%);
}

.delete-game-btn:hover {
  background-color: var(--deep-blue);
  color: #fff;
}

.game-entry-link {
  text-decoration: none;
  color: inherit;
  display: block;
  margin-bottom: 15px;
}

.game-entry-link:hover {
  text-decoration: none;
}

.game-time {
  font-weight: 600;
  font-family: "Geist Mono", monospace;
}

.tournament-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
  color: var(--deep-blue);
  padding: 10px 25px;
  margin-bottom: 10px;
  border-top: var(--deep-blue-light) 2px solid;
  border-bottom: var(--deep-blue) 2px solid;
}

/*.tournament-header:hover {
  padding-left: 10px;
}

.tournament-header .dot {
  transition: all 0.3s;
}

.tournament-header:hover .dot {
  font-size: 1.5em;
}*/

.tournament-section {
  margin-bottom: 25px;
}

.game-round { 
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  margin-right: 10px;
  padding: 4px 6px;
  border-radius: 100px;
  color: var(--white-container);
  background-color: var(--deep-blue);
}

#searchInput {
  width: 100%;
}