/* Add media queries for better responsiveness */
@media screen and (max-width: 800px) {
  .container {
    padding: 35px; /* Further reduce padding on smaller screens */
  }

  .tab-buttons {
    align-items: center;
  }

  .tab-buttons button {
    margin: 5px 0; /* Adjust spacing between buttons */
    width: 80%; /* Make buttons wider on small screens */
  }

  .inlineForm {
    gap: 10px;
  }

  input,
  select,
  button {
    width: 100%; /* Full width inputs */
  }

  .player-details {
    flex-direction: column; /* Stack player details vertically */
    text-align: center;
  }

  .player-left,
  .player-right {
    text-align: center;
    margin-top: 10px;
  }
  .game-result {
    position: absolute;
    max-width: fit-content;
    right: 10%;
    transform: translate(0, -75%) !important;
  }

  #theme-toggle-btn {
    max-width: fit-content;
    right: 0 !important;
  }

  .game-tournament {
    display: none;
  }
  .game-details {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }

  .entry-date {
    justify-content: center;
  }
}

@media screen and (max-width: 515px) {
  .container h1 {
    font-size: 6vw;
  }
}

@media screen and (max-width: 600px) {
  .player-details {
    width: 100%;
  }
  .player-left,
  .player-right {
    width: 100%;
    text-align: left !important;
  }
}
